@model ShopWebApplication1.Models.Baskett

@{
    ViewData["Title"] = "Видалити";
    
}

<h1>Видалити товар</h1>

<h3>
    Ви впевнені, що хочете видалити з корзини товар
    <p>
        <i>@Html.DisplayFor(model => model.Goods.Name)</i> ?
    </p>
</h3>
<div>
    <h4>У корзині:</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayFor(model => model.Goods.Name)
        </dt>
        <dt class="col-sm-2">
            Кількість
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Видалити" class="btn btn-danger" /> 
        <a asp-action="Index">Повернутися</a>
    </form>
</div>
