@{
    ViewData["Title"] = "Головна";
}

<div class="text-center">
    <h1 class="display-4">Ласкаво просимо</h1>
    <br>
    <h2>до інтернет-магазину</h2>
    <br>
    <h1 class="display-4">"Рослини"</h1>
</div>
